@inherits LayoutComponentBase

<PageTitle>Gallagher Chat</PageTitle>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-0">
            <Sidebar/>
        </div>
        <div class="col py-3">
            <LoginDisplay />
            <main class="row overflow-auto">
                @Body
            </main>
        </div>
        
    </div>
</div>

<style>
    .logo {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

        .logo img {
            height: 40px;
            margin-right: 10px;
        }
</style>
